@import url('https://fonts.googleapis.com/css?family=Oswald');

/* animation on load */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.fast {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
body {
  font-family: 'Raleway', sans-serif;
}

/* navigation styles */
.header-wrapper {
  width: 70%;
  margin-left: 15%;
  position: fixed;
  z-index: 1000;
  right: 0;
  left:0;
  top: 30px;
}

.nav-link {
  color: white;
  padding-right: 5%;
  cursor: pointer;
}
.links {
  text-align: right;
}

.nav-link:hover {
  color: lightgreen;
}
.logo {
  width: 150px;
}
/* front page */
.front-intro{
  background-image: url('../img/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vh;
}

.upcoming-event {
    color: white;

}
.upcoming-event h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.bold {
  font-weight: 400;
}
.partner-list {
  width: 80%;
  margin-left: 10%;
}
.partner-logo {
  width: 70%;
  padding-left: 15%;
  height: auto;
  margin: 0 auto;
}
.web-summit {
  width: 50%;
  padding-left:25%;
}

.date-img {
  width: 60%;
  padding-left: 20%;
}
.button {
  background: transparent;
  border: 3px solid white;
  cursor: pointer;
  color: white;
  padding: 8px;
}
.full {
  min-width: 100%;
}
.button:hover {
  background-color: white;
  color: black;
}

.hover-green:hover {
  background-color: rgba(22, 160, 133,0.7);
}
.hover-purple:hover{
  background-color: rgba(155, 89, 182,0.7);
}
/* event page */

.event-intro {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/events/Developer-Week.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
}
.event-box {
  margin-top: 100px;
}
.event-intro button {
  margin-top: 8px;
}
#eventTitle {
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.event-svg {
  width: 32px;
  height: 32px;
}
span, img {
  vertical-align: middle;
  margin: 0 auto;
}
.event-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* events page */
.events-head {
  background-image: url('../img/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}


/* search field */
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 9999px;
    background-color: #fff;
    margin-top: 100px;
}

#custom-search-input input{
    border-radius: 9999px;
    font-size: 1em;
    border: 0;
    height: 40px;
    width: 100%;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}

/* event results */

.event-result {
  margin-top: 24px;
}
.event-result-info {
  background-color: #F4F4F4;
  padding: 16px;
  cursor: pointer;
  margin-left: -100px;
  padding-left: 110px;
  padding-right: 20px;
  justify-content: space-between;
  border-radius: 15px;
}
.event-result-left {
  z-index: 1000;
  padding-top: 50px;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	background-color: white;
}
.event-result-info:hover {
  background-color: #EFEFEF;
}
.event-image {
  width: 60px;
  height: auto;
  display: table-cell;
  vertical-align: middle;
}
.event-date {
  text-align: center;
}

.event-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.tags a{
  border:1px solid #DDD;
  display:inline-block;
  color:#717171;
  background:#FFF;
  -webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);
  box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);
  -webkit-transition:all .1s ease-in-out;
  -moz-transition:all .1s ease-in-out;
  -o-transition:all .1s ease-in-out;
  -ms-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
  border-radius:2px;
  margin:0 3px 6px 0;
  padding:5px 10px
}
.tags a:hover{
  border-color:#08C;
}

/* calendar styles */
.calendar {
  height: 100px;
}
.calendar-header
{
	padding-left: 20px;
	padding-right: 20px;
	height: 70px;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.calendar-content
{
	display:flex;
	flex-direction: column;
  width: 80%;
  margin-left: 10%;
}
.calendar-row
{
	display:flex;
	flex-direction: row;
	flex:1;
}
.calendar-item
{
	flex: 1;
  margin: 2px;
  background-color: #F4F4F4;
	min-height: 12vh;
	min-width: 32px;
}
.calendar-item-disabled
{
	background-color: #CDCDCD;
	color: #d9d9d9;
}
.calendar-item-header
{
	flex: 1;
	text-align: center;
  background-color: #EFEFEF;
	color: black;
}
.calendar-item-header > h3 {
  font-size: 16px;
}
.calendar-item > h3
{
  font-size: 16px;
	margin: 5px;
	float: right;
}
.imgtest
{
	width: 100%;
	height: auto;
}

/* login begin */
.wrapper {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}

#loginPageWrapper {
background-color: #E4E4E4;
}
#register{
  display: none;
}
.alert{
  display: none;
  text-align: center;
  font-size: 15px;
}

.loginLogo{
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 120px;
  margin-bottom: 32px;
}

.loginLogo img {
  width: 150px;
  height: auto;

}
.logoTxtProfile{
  letter-spacing:4px;
  text-transform: uppercase;
  color:white;
  font-size: 18px;
  text-align: center;
  margin-left:-30px;

}
.buttons{
  background-color: #3aaaab;
}
.loginBtnTxt{
  color:white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}
.buttons:hover{
  background-color: #236f70;
  color:white;
}
.box{
  background-color: white;
  padding: 20px;
  margin-top:0px;
}
.login{
  background-color: #3aaaab;
}
.register{
  float:right;
  margin-right:20px;
}
/* end login */
.modal {
  top: 150px;
}
